@import "tailwindcss";
@import "tw-animate-css";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

body {
  font-family: var(--font-sans);
}

.font-serif {
  font-family: var(--font-serif);
}
